extends layout
block append content
  h1= room._id
  form(method='GET', action='/room/#{room._id}/audio')
    input(type='text', name='q')
    input(type='submit', value='Search audio')
    
  p Current track #{room.currentTrack + 1}
  p Total tracks added #{room.tracks.length}

  if owner
    a#play(href='#play', data-room='#{room.id}') Play/Pause
    br
    a#next(href='#next', data-room='#{room.id}') Next
